@font-face {
    font-family: "PoppinsRegular";
    src: local('PoppinsRegular'), url("../../utils/fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "PoppinsSemiBold";
    src: local('PoppinsSemiBold'), url("../../utils/fonts/Poppins/Poppins-SemiBold.ttf") format('truetype');
}

* {
    box-sizing: border-box;
    font-family: 'PoppinsRegular', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5 {
    font-family: 'PoppinsSemiBold', sans-serif;
}